@font-face {
	font-family: "fira";
	src: local("fira"), url(./fonts/FiraCode-Retina.otf) format("woff");
}

body {
	margin: 0;
	padding: 0;
	font-family: "fira";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
